.cvat-top-bar-grades-button {
    margin-left: 14px;
}

.grades-form {
    max-height: 100%;
    overflow: auto;
    padding: 14px;
    border-bottom: 1px solid #c3c3c3;
    z-index: 101;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;

    &-loader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 14px;
        .loading-text {
            display: inline-flex;
            margin-left: 8px;
        }
    }

    &.loading {
        padding: 64px;
    }

    &-robogrades {
        .ant-input-number {
            width: 100% !important;
        }
    }

    &-info {
        display: block;

        &-typography {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 4px;
            font-weight: 500;

            .ant-typography-edit-content {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 24px;
                width: 120px;
            }
        }
    }

    &-error,
    &-warning {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding-right: 54px;
        padding-top: 6px;

        &-typography {
            display: inline-flex;
            font-weight: 500;
            color: #f00;
        }
    }

    &-warning-typography {
        color: #ff8c00;
    }

    &-section {
        margin-top: 14px;
    }

    &-close {
        position: absolute;
        top: 14px;
        right: 14px;
    }

    &-advanced-controls {
        position: relative;
    }

    &-separator {
        margin: 2px 0px 6px;
    }

    &-inner-title {
        display: flex;
        margin-bottom: 4px;
    }

    .ant-col .ant-form-item-label {
        padding: 0;
    }

    .ant-collapse-content > .ant-collapse-content-box {
        padding: 12px;
    }

    &-overall-grades {
        .ant-collapse-content > .ant-collapse-content-box {
            padding: 0px;
        }

        .ant-table.ant-table-small {
            font-size: 12px;
        }
        .ant-table.ant-table-small .ant-table-title,
        .ant-table.ant-table-small .ant-table-footer,
        .ant-table.ant-table-small .ant-table-thead > tr > th,
        .ant-table.ant-table-small .ant-table-tbody > tr > td,
        .ant-table.ant-table-small tfoot > tr > th,
        .ant-table.ant-table-small tfoot > tr > td {
            padding: 4px 4px;
        }
        .ant-table-small .ant-table-thead > tr > th {
            background-color: unset;
        }
    }

    &-raw-grades {
        margin-bottom: 4px;

        &-info {
            font-size: 13px;
        }
    }

    &-centering-angles {
        margin-bottom: 10px;
    }
}
